:root {
  --primary: #25242b;
  --secondary: #f2f5ef;
}

body {
  background-color: var(--secondary);
  color: var(--primary);
  font: Inter
}

header,
footer,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sketchcontrols_section {
  flex-basis: 1;
  flex-shrink: 4;
  flex-grow: 1;
}

.sketchpad_section {
  flex-basis: 1;
  flex-shrink: 1;
  flex-grow: 4;
}
