:root {
  --primary: #25242b;
  --secondary: #f2f5ef;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  font-size: 16px;
  padding: 0;
}

body {
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

header {
  font-weight: 700;
  font-size: 3rem;
}

footer {
  font-size: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.sketchpad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.container {
  border: 1px solid var(--primary);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  /* 
  The flex-basis: 624px sets basic size for the flex container, 
  and flex-grow: 0 ensures, it doesn't stretch and take whole of page. 
  flex-shrink: 1 ensures, it shrinks when size is reduced. 
  */
  flex: 0 1 624px;
}

.container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-basis will be added programmatically via javascript */
  /* flex-basis: 25%; */
  aspect-ratio: 1;
}

.cell {
  background-color: #25242b;
}
